<section class="bg-{{ color }} position-relative shadow-sm" style="height: 5px; margin: {{ margin }}px 0">
    <div class="container">
        <h1 class="mt-2 position-absolute top-0 start-50 translate-middle bg-white px-3"
            style="font-size: 3.5rem; letter-spacing: 0.4rem;">{{ text }}</h1>
    </div>
</section>